{{ partial "head" . }}

<body onload="scrollDown()" class="home-template"><div class="site-wrapper">
<div id="mainHeader">
  {{ partial "header" . }}
</div>

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    {{ if .Params.contact }}
      {{ partial "contact" . }}
    {{else}}
      {{if ne .Site.Params.singleViewStyle "casper"}}
      <div class="post-feed">
        {{ partial "page-single" . }}
      </div>
      {{else}}
        {{ partial "page-single-sori" . }}
      {{end}}
    {{end}}
  </div>
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}

<script>
function scrollDown() {
  var mainHeader = document.getElementById("mainHeader");
    window.scrollBy({
      top: mainHeader.scrollHeight,
      left: 0,
      behavior: 'smooth'
    });
}
</script>
</body></html>
