<header class="post-full-header">
  <h1 class="post-full-title">Contact Me</h1>
</header>

<div style="margin-bottom: 80px;">
  <form class="cf" action="https://formspree.io/cheungwingkei@gmail.com"
      method="POST">
    <input type="text" id="input-name" name="name" placeholder="Name" required>
    <input type="email" id="input-email" name="email" placeholder="Email address" required>
    <textarea name="message" type="text" id="input-message" name="message" placeholder="Message"></textarea>
    <input type="submit" value="Submit" id="input-submit">
  </form>
<div>
